.text{
    color: rgb(0 0 0);
    -webkit-text-stroke: 1px #54BCB8;
    text-shadow: 0px 1px 6px #8effe1;
    text-align: center;
    padding: 10px;
}

.details{
    display: flex;
    padding: 1rem;
    border: solid 1px; 
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 8rem;
    border-radius: 10px;
    
}

div > p{
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .5px #000000;
    text-shadow: 0px 0px 3px #54BCBB;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

