.star-rating > button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on{
    color:#8EFFE1;
}

.off{
    color: gray;
}

.star-rating{
    display: flex;
    justify-content: flex-start;
}

.star{
    font-size: 1.2vw;
}

