.star-rating > button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star-rating > button:hover{
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

.on{
    color:aqua;
}
.off{
    color: gray;
    outline:.5px aqua;
}

.star-rating{
    display: flex;
}