ul {
  display: flex;
  justify-content:space-evenly;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgba(0, 0, 0, 0.151);
  color: rgb(59, 59, 59);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  backdrop-filter: blur(6px);
  width: 100%;
  box-shadow: 0px 1px 6px 2px #c8fffd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

/* .navBar button {
  background: black;
  border: 1px solid #000000;
  padding: 0.5em 0.5rem;
  border-radius: 10px;
  color: rgb(251, 248, 248);
  font-size: small;
  -webkit-text-stroke: .3px #549ebc;
  text-shadow: 0px 1px 6px #8ecaff;
}

.navBar button:hover {
  background: rgba(255, 255, 255, 0.313);
  color: steelblue;
  cursor: pointer;
} */

.brand {
  font-size: 2.5rem;
  color:black;
  -webkit-text-stroke:#54BCB8;
  text-shadow: 0px 0px 6px #72fffa;
}

.logo{
  height:30px;
  width:30px;
  border: 32px 32px transparent ;
  border-radius: 30px;
  box-shadow: 0px 0px 6px #72fffa;
  background-color: #54BCB8;
  margin-right: 5rem;
}

.juno1 {
  background-color: rgba(0, 0, 0, 0.532);
  backdrop-filter: blur(6px);
  -webkit-text-stroke: .5px #083534;
  text-shadow: 0px 1px 3px #04302f;
  color: #54BCB8;
  border: solid 1px #54BCB8;
  padding-left: .75rem;
  padding-right: .75rem;
  border-radius: 10px;
  font: inherit;
}

.juno1:hover {
  background-color:#54BCB8 ;
  color: rgba(0, 0, 0, 0.532);
  box-shadow: 0px 1px 6px 4px #72fffa;
  text-shadow: none;
}
/* color: rgb(0 0 0);
-webkit-text-stroke: 1px #54BCB8;
text-shadow: 0px 1px 6px #8effe1; */