.juno{
    background-color: rgba(0, 0, 0, 0.532);
    backdrop-filter: blur(6px);
    -webkit-text-stroke: .5px #083534;
    text-shadow: 0px 1px 3px #04302f;
    color: #54BCB8;
    border: solid 1px #54BCB8;
    border-radius: 15px;
    font: inherit;
    font-weight: bold;
    margin: auto;
    padding: .75vw;
    font-size: 1vw;
}

.juno:hover{
    background-color:#54BCB8 ;
    color: rgba(0, 0, 0, 0.532);
    box-shadow: 0px 1px 6px 4px #72fffa;
    text-shadow: none;
}

.juno:disabled{
    background-color: rgba(0, 0, 0, 0.532);
    backdrop-filter: blur(6px);
    -webkit-text-stroke: .5px #083534;
    text-shadow: 0px 1px 3px #04302f;
    color: #54bcb87d;
    border: solid 1px #54bcb88a;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 10px;
    font: inherit;
    box-shadow: none;
}